* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
}

header {
    /* background-color: rgba(56, 56, 56, 0.474); */
    color: white;
    height: 50px;
}

header a {
    color: white;
    font-weight: bold;
    height: 50px;

}

header a:hover {
    background-color: rgba(226, 59, 170, 0.841);
    height: 50px;

}

.navbar {
    padding: 0 !important;
}

.navbar-collapse {
    background-color: rgba(56, 56, 56, 0.474);
    height: 50px;

}

/**======================
 **      Fin header
 *========================**/

body {

    background: rgb(34, 193, 195);
    background: linear-gradient(77deg, rgba(34, 193, 195, 1) 0%, rgba(251, 56, 244, 0.6337885495995272) 100%);
    background-repeat: no-repeat;
}

h1,
h2,
p {
    color: white;
}

.photo {
    height: 18em;
    width: 13em;
    border-radius: 2px;
    box-shadow: 12px 10px 2px 1px rgba(251, 56, 244, 0.222);
    margin-right: 15px;
}

span {
    font-style: italic;
    color: rgb(206, 206, 206);
}
/**======================
 **      Début boutons
 *========================**/

.btn {
    background-color: rgb(226, 59, 170);
    border: none;
    color: white;
    width: 15em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgba(77, 0, 52, 0.841);
    color: white;
}
.btnCard{
    background-color: rgb(226, 59, 170);
    border: none;
    color: white;
    width: 80%;
    height: 3em;
    align-items: center;
    justify-content: center;
}

.button_retour img {
  
    position: fixed;
    bottom: 60px;
    right: 80px;
    z-index: 1000;
    height: 65px;
    width: 65px;
}

/**======================
 **      Fin boutons
 *========================**/


.competence {
    background-color: rgba(240, 240, 240, 0.515);

}

.competence img {
    transition: transform .2s;
}

.competence img:hover {
    transform: scale(1.1);
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
}

.contact {
    background-color: rgba(53, 52, 52, 0.515);
}

.contact a {
    transition: 0.2s;
}

.contact a:hover {
    transform: scale(1.1);
}

.container_img {
    position: relative;
    width: 10%;
}



.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/**======================
 **      Fin compétences
 *========================**/

@media (max-width: 650px) {
    .profil {
        flex-direction: column;
    }

    .profil img {
        margin-top: 20px;
        box-shadow: 12px 10px 2px 1px rgba(89, 71, 136, 0.222);
       
    }

    .contact_img {
        flex-direction: column;

    }
  

    .contact_img a img {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .button_retour img{
      
        bottom: 10px;
        right: 10px;
        z-index: 1000;
        height: 55px;
        width: 55px;
    }
}

